/* Set Margins / Padding and change the Background colour of the Navigation Menu */
#main-nav ul  {
    overflow: hidden;
    background-color: rgb(18, 87, 143);
    padding-bottom:3.5px;
    border-bottom:3px solid rgb(211, 178, 61);
}

#main-nav ul .login{
    float:right;
    border:none;

} 

/* Sets the Alignment to Left and adds Breakers between Navigation Menu Headings */
#main-nav li {
    float: left;
    font-size:14px;
    list-style-type: none;
    
}


/* Will change the colour of Text etc in the Navigation Bar */
#main-nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
   
}

/* Will change the colour of a Navigation button if the mouse hovers over it */
#main-nav li a:hover:not(.active) {
    color:rgb(246, 205, 62);
}

.header-image{
    width:100%;
    height:473px;
    background-image: url("../Images/IMG_3293_Edit.jpg");
    background-size: auto;
}

.header-image h1{
    padding-top: 200px;
    color:gainsboro;
    text-align: center;
}

/* Will make current page on Navigation Menu The Set colour */
#main-nav ul .active {
    color: #bdb21c;
}

/* Test query for nav */
@media (max-width:800px){
    
    #main-nav ul{
        border: none;
        padding: 0px;
    }
    
    #main-nav li {
        font-size: 14.5px;
        float: none;
        border-right: none;
        border-bottom: 1px solid #bbb;    
    }
    
    #main-nav li a{
        padding: 8px 2px;
    }
    
    #main-nav ul .login{
        float: none;
        display: none  
    }
    
     .header-image{
        height: 0px;
        display: none;
    }
}

@media (max-width:400px){
    
    #main-nav ul{
        border: none;
        padding: 0px;
    }
    
    #main-nav li {
        font-size: 13px;
        padding: 0px 0px;
        float: none;
        border-right: none;
        border-bottom: 1px solid #bbb;
        
    }
    
    #main-nav li a{
        padding: 8px 4px;
    }
    
    #main-nav ul .login{
        float: none;
        display: none
    }
    
    .header-image{
        height:0px;
        display: none;
    }
}